@import 'colors';

.controls{
  display: flex;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;

  .button{
    margin-top: 10px;
    padding: 20px;
    background-color: $color-button-primary;
    border: 5px solid $color-button-border;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #888;
    height: 20px;
    &:hover{
      background-color: $color-button-hover;
    }
  }
}
