@import 'colors';
@import 'sizes';
@import 'images';
@import 'fonts';
@import 'controls';


html{
  background-image: $image-table;
  background-repeat: repeat;
  font-family: $font-primary;
}

.table{

  display: flex;
  flex-direction: column;

  padding: 40px;


  .hand{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;

    border-bottom: 1px solid #ccc;

    .card{
      flex-basis: $size-card-width;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 10px;
      margin-top: 10px;
      background-image: $image-card;
      background-repeat: repeat;


      height: $size-card-height;
      width: $size-card-width;
      @media screen and (max-width: $size-break-medium){
        height: $size-card-height / 2;
        width: $size-card-width / 2;
      }


      justify-content: center;
      align-items: center;

      display: flex;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px #888;
      position: relative;

      border-radius: 5px;

      .suit
      {
        padding:20px;
        position: absolute;

        font-size: $size-suit;

        &.top{
          top: 20px;
        }
        &.bottom{
          bottom: 20px;
        }
        &.left{
          left: 20px;
        }
        &.right{
          right: 20px;
        }

        &.red{
          color: $color-red;
        }

        &.black{
          color: $color-black;
        }
      }

      .face{
        padding:5px;
        font-size: $size-suit;
      }
    }

  }

  .divider{
    display: flex;
    flex-basis: 20px;
    flex-grow: 1;
    flex-shrink: 1;
  }


}

