<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlackJack!</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link rel="stylesheet" href="dist/main.css"/>
</head>
<body>
    <section ng-app="blackJackApp">

        <div class="table" ng-controller="playerController as playerCtrl">

            <div class="controls">
                <a class="button" ng-click="playerCtrl.drawCard();">Draw</a>
            </div>

            <h1>Player Score: {{playerCtrl.score}}</h1>
            <div class="hand">

                <card ng-repeat="card in playerCtrl.currentHand" suit="card.suit" face="card.face"></card>
            </div>

            <div class="divider">

            </div>

            <h1>House Score: {{playerCtrl.house.score}}</h1>
            <div class="hand">

                <card ng-repeat="card in playerCtrl.house.hand" suit="card.suit" face="card.face"></card>
            </div>

        </div>

    </section>

    <script src="dist/bundle.js"></script>
</body>
</html>