<div class="card">
    <span class="face">{{cardDirectiveCtrl.face.name}}</span>
    <span ng-attr-class="suit top left {{cardDirectiveCtrl.suit.color}}">{{cardDirectiveCtrl.suit.icon}}</span>
    <span ng-attr-class="suit top right {{cardDirectiveCtrl.suit.color}}">{{cardDirectiveCtrl.suit.icon}}</span>
    <span ng-attr-class="suit bottom left {{cardDirectiveCtrl.suit.color}}">{{cardDirectiveCtrl.suit.icon}}</span>
    <span ng-attr-class="suit bottom right {{cardDirectiveCtrl.suit.color}}">{{cardDirectiveCtrl.suit.icon}}</span>
</div>